@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashbord</a>
    </li>
}
@if (User.Identity.IsAuthenticated)
{
    @if (!User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-route-returnUrl="/" asp-action="Profile" >
                <i class="fa-solid fa-user"></i> @User.Identity.Name 
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-route-returnUrl="@Context.Request.GetBaseUrl()" asp-action="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-route-returnUrl="@Context.Request.GetBaseUrl()" asp-action="Login">Login</a>
    </li>    
}
