<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" asp-append-version="true" href="~/lib/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" asp-append-version="true" href="~/css/site.css">
    <link rel="stylesheet" asp-append-version="true" href="~/lib/font-awesome/css/all.css">
</head>
<body>
<header>
    <partial name="_Navbar" />
    @RenderSection("Header", false)
</header>
<div class="container ">
    <main role="main" class="pb-3">
        <div>
            <partial name="_Notification" />
        </div>
        @RenderBody()
    </main>
</div>
<footer>
    <div class="bg-primary border-top p-3">
        <div class="container">
            <p class="navbar-text pull-left text-white">© 2025- Site Built By Samet</p>
        </div>
    </div>
    @RenderSection("Footer", false)
</footer>
<script asp-append-version="true" src="~/lib/jquery/jquery.min.js"></script>
<script asp-append-version="true" src="~/lib/bootsrap/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true" src="~/script/site.js"></script>
<script asp-append-version="true" src="~/lib/font-awesome/js/all.min.js"></script>
@await RenderSectionAsync("Scripts", false)
<script type="text/javascript">
        $(document).ready(() => {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</body>
</html>